<footer class="page-footer blue darken-4">
    <div class="container">
        <a class="grey-text text-lighten-4" href="https://drcrow.github.io/resume/" target="_blank"><i class="fas fa-crow"></i> © 2020 Agustin Fiori</a>
    </div>
</footer>
