<nav class="bg_color_1">
    <div class="container">
        <div class="row">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">&spades; PokerTask</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/vote">Vote</a></li>
                <li class="user-menu">
                    <a href="/auth/logout">
                        <img src="{{ avatar }}" alt="{{ name }}" class="circle user-avatar">
                        <span class="user-name">{{ name }}</span>
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
<li><a href="/dashboard">Dashboard</a></li>
<li><a href="/dashboard">Vote</a></li>
<li><a href="/auth/logout">{{ name }}</a></li>
</ul>

<script>
$(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>