<div class="collection with-header">
    <div class="collection-header"><h6>Your Projects</h6></div>
    <a href="#!" class="collection-item active">Project #1</a>
    <a href="#!" class="collection-item">This is a Project</a>
    <a href="#!" class="collection-item">Awesome Project</a>
</div>