<div class="collection with-header">
    <div class="collection-header"><h6>Project #1</h6></div>
    <a href="#!" class="collection-item">Simple Task<div class="secondary-content"><span class="new badge red" data-badge-caption="">PX17</span></div></a>
    <a href="#!" class="collection-item">Another Task<div class="secondary-content"><span class="new badge red" data-badge-caption="">PX18</span></div></a>
    <a href="#!" class="collection-item">This is a Task<div class="secondary-content"><span class="new badge red" data-badge-caption="">PX19</span></div></a>
    <a href="#!" class="collection-item active">This is Another Task<div class="secondary-content"><span class="new badge red" data-badge-caption="">PX20</span></div></a>
    <a href="#!" class="collection-item">Complex Task<div class="secondary-content"><span class="new badge red" data-badge-caption="">PX21</span></div></a>
</div>