<ul class="collection with-header">
    <li class="collection-header"><h6>This is Another Task</h6></li>
    <li class="collection-item">
        <div>
                Armando<div class="secondary-content"><span class="new badge red" data-badge-caption="">3</span></div>
        </div>
    </li>
    <li class="collection-item">
        <div>
                Benito<div class="secondary-content"><span class="new badge red" data-badge-caption="">8</span></div>
        </div>
    </li>
    <li class="collection-item">
        <div>
                Cristian<div class="secondary-content"><span class="new badge red" data-badge-caption="">5</span></div>
        </div>
    </li>
</ul>