<div class="row collection cards-list">
    <a class="col l2 s4 poker-card" href="#"><img src="img/cards/01/1.png" alt="1"></a>
    <a class="col l2 s4 poker-card active" href="#"><img src="img/cards/01/2.png" alt="2"></a>
    <a class="col l2 s4 poker-card" href="#"><img src="img/cards/01/3.png" alt="3"></a>
    <a class="col l2 s4 poker-card" href="#"><img src="img/cards/01/5.png" alt="5"></a>
    <a class="col l2 s4 poker-card" href="#"><img src="img/cards/01/8.png" alt="8"></a>
    <a class="col l2 s4 poker-card" href="#"><img src="img/cards/01/13.png" alt="13"></a>
</div>