<h3 class="page_title">&spades; PokerTask</h3>

<div class="section">
    <p>Create or join to Planning Poker sessions for free!!</p>
</div>

<div class="divider"></div>

<div class="section">
    <a href="/auth/google" class="btn waves-effect waves-light btn-large"><i class="fab fa-google left"></i> Log in with Google</a>
</div>