body {
    font-family: 'Roboto Mono', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.bg_color_1 {
    background: #3F527F;
}

main {
    flex: 1 0 auto;
    background: url(../img/blue_bg.png);
}

.login_container {
    width: 400px;
    margin-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

footer {
    padding: 15px !important;
}

.collection {
    border-color: #3F527F;
}

.collection a.collection-item {
    color: #3F527F;
}

@media only screen and (max-width: 992px){
    .brand-logo {
        font-size: 20px !important;
    }
}